<footer>
    <div class="gmy-footer">
        <div class="text-footer">
            <span>
                Todos los Derechos © 2020 | Sanalexfit. Diseño Web por: Marcahost.com.co </span>
        </div>
        <div class="container-icon">
            <fa-icon [icon]="faWhatsapp"></fa-icon>
            <fa-icon [icon]="faInstagram"></fa-icon>
        </div>
        <div class="scroll-up" (click)="scrollToElement()">
            <fa-icon [icon]="faUps"></fa-icon>
        </div>
    </div>
</footer>