<section>
    <div class="gym-container">
        <div>
            <h2 class="challenges-h2">ESTAS LISTA PARA ESTOS GRANDIOSOS RETOS?<br>NO HAY METAS, <span
                    class="themecolor">NO HAY OBSTACULOS
                    !</span></h2>
            <hr class="no_line" style="margin:0 auto 10px">
        </div>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
            fxLayoutAlign="space-between">

            <div fxFlex="31%">
                <div class="card-image">
                    <img class="image_wrapper" src="assets/challenges/buttocks.jpg">
                    <div class="challenges-more">
                        Ver
                    </div>
                </div>
            </div>
            <div fxFlex="31%">
                <div class="card-image">
                    <img class="image_wrapper" src="assets/challenges/deinition.jpg">
                    <div class="challenges-more">
                        Ver
                    </div>
                </div>
            </div>
            <div fxFlex="31%">
                <div class="card-image">
                    <img class="image_wrapper" src="assets/challenges/weight.jpg">
                    <div class="challenges-more">
                        Ver
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>