<section>
    <div class="gym-container">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
            <div class="conter-image">
                <div style="position: relative;">
                    <div class="mask"></div>
                    <img class="prueba" src="assets/gallery/1.jpg" alt="primera">
                </div>
            </div>
            <div class="conter-image">
                <div style="position: relative;">
                    <div class="mask"></div>
                    <img src="assets/gallery/2.jpg" alt="primera">
                </div>
            </div>
            <div class="conter-image">
                <div style="position: relative;">
                    <div class="mask"></div>
                    <img src="assets/gallery/3.jpg" alt="primera">
                </div>

            </div>
            <div class="conter-image">
                <div style="position: relative;">
                    <div class="mask"></div>
                    <img src="assets/gallery/4.jpg" alt="primera">
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
            <div class="conter-image">
                <div style="position: relative;">
                    <div class="mask"></div>
                    <img src="assets/gallery/5.jpg" alt="primera">
                </div>
            </div>
            <div class="conter-image">
                <div style="position: relative;">
                    <div class="mask"></div>
                    <img src="assets/gallery/6.jpg" alt="primera">
                </div>
            </div>
            <div class="conter-image">
                <div style="position: relative;">
                    <div class="mask"></div>
                    <img src="assets/gallery/7.jpg" alt="primera">
                </div>
            </div>
            <div class="conter-image">
                <div style="position: relative;">
                    <div class="mask"></div>
                    <img src="assets/gallery/8.jpg" alt="primera">
                </div>
            </div>
        </div>
    </div>
</section>