@font-face {
    font-family: Exo2-Regular;
    src        : url(/assets/exo_2/Exo2-Regular.ttf);
}

@font-face {
    font-family: Exo2-SemiBold;
    src        : url(/assets/exo_2/Exo2-SemiBold.ttf);
}

@font-face {
    font-family: Exo2-Bold;
    src        : url(/assets/exo_2/Exo2-Bold.ttf);
}

@font-face {
    font-family: Exo2-SemiBoldItalic;
    src        : url(/assets/exo_2/Exo2-SemiBoldItalic.ttf);
}

@font-face {
    font-family: Exo2-BoldItalic;
    src        : url(/assets/exo_2/Exo2-BoldItalic.ttf);
}

@font-face {
    font-family: Exo2-Medium;
    src        : url(/assets/exo_2/Exo2-Medium.ttf);
}

@font-face {
    font-family: Exo2-ExtraLight;
    src        : url(/assets/exo_2/Exo2-ExtraLight.ttf);
}