@font-face {
    font-family: Exo2-Regular;
    src        : url(/assets/exo_2/Exo2-Regular.ttf);
}

@font-face {
    font-family: Exo2-SemiBold;
    src        : url(/assets/exo_2/Exo2-SemiBold.ttf);
}