<section>
    <div class="gym-container">
        <div style="margin-bottom: 50px;">
            <h2 class="challenges-h2">DESDE CUALQUIER LUGAR. <br> <span class="subtitle">TARIFA PARA EL EXTERIOR</span>
            </h2>
            <hr class="no_line" style="margin:0 auto 10px">
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="space-between">
            <div class="abroad-card one">
                <h3 class="title-h3">Reto Glúteos</h3>
                <h2 class="challenges-h2">$99.000 COP</h2>
                <p class="days">30 DIAS</p>
                <hr class="line" style="margin:0 auto 20px">
                <p class="plan-text">Videos Rutinas</p>
                <p class="plan-text">Pesas caseras</p>
                <p class="plan-text">Plan de alimentación</p>
                <p class="plan-text">Asesoría Grupo WhatsApp</p>
                <div>
                    <img class="img-epayco" src="assets/abroad-rates/boton_carro2.png" alt="imagen epayco">
                </div>
                <hr class="line">
                <h3 class="title-h3"> PROMO PARA <br>USUARIOS</h3>
                <h2 class="challenges-h2">$200.000 COP </h2>
                <p class="days">4 MESES</p>
                <p class="days">Aplica solo para usuarios activos</p>
                <div>
                    <img class="img-epayco" src="assets/abroad-rates/boton_carro.png" alt="imagen epayco">
                </div>
                <hr class="line">
                <h3 class="title-h3"> PAGA 3 LLEVA 4</h3>
                <h2 class="challenges-h2">$297.000 COP </h2>
                <p class="days">4 MESES</p>
                <p class="days">Aplica solo para usuarios activos</p>
                <div>
                    <img class="img-epayco" src="assets/abroad-rates/boton_carro3.png" alt="imagen epayco">
                </div>
            </div>
            <div class="abroad-card tow">
                <h3 class="title-h3">Reto Glúteos</h3>
                <h2 class="challenges-h2">$99.000 COP</h2>
                <p class="days">30 DIAS</p>
                <hr class="line" style="margin:0 auto 20px">
                <p class="plan-text">Videos Rutinas</p>
                <p class="plan-text">Pesas caseras</p>
                <p class="plan-text">Plan de alimentación</p>
                <p class="plan-text">Asesoría Grupo WhatsApp</p>
                <p class="plan-text">Asesoría personalizada</p>
                <div>
                    <img class="img-epayco" src="assets/abroad-rates/boton_carro2.png" alt="imagen epayco">
                </div>
                <hr class="line">
                <h3 class="title-h3"> PROMO PARA <br>USUARIOS</h3>
                <h2 class="challenges-h2">$200.000 COP </h2>
                <p class="days">4 MESES</p>
                <p class="days">Aplica solo para usuarios activos</p>
                <div>
                    <img class="img-epayco" src="assets/abroad-rates/boton_carro.png" alt="imagen epayco">
                </div>
                <hr class="line">
                <h3 class="title-h3">PAGA 3 LLEVA 4</h3>
                <h2 class="challenges-h2">$297.000 COP </h2>
                <p class="days">4 MESES</p>
                <p class="days">Aplica solo para usuarios activos</p>
                <div>
                    <img class="img-epayco" src="assets/abroad-rates/boton_carro.png" alt="imagen epayco">
                </div>
            </div>
            <div class="abroad-card one">
                <h3 class="title-h3">Reto Glúteos</h3>
                <h2 class="challenges-h2">$99.000 COP</h2>
                <p class="days">30 DIAS</p>
                <hr class="line" style="margin:0 auto 20px">
                <p class="plan-text">Videos Rutinas</p>
                <p class="plan-text">Pesas caseras</p>
                <p class="plan-text">Plan de alimentación</p>
                <p class="plan-text">Asesoría Grupo WhatsApp</p>
                <div>
                    <img class="img-epayco" src="assets/abroad-rates/boton_carro2.png" alt="imagen epayco">
                </div>
                <hr class="line">
                <h3 class="title-h3"> PROMO PARA <br>USUARIOS</h3>
                <h2 class="challenges-h2">$200.000 COP </h2>
                <p class="days">4 MESES</p>
                <p class="days">Aplica solo para usuarios activos</p>
                <div>
                    <img class="img-epayco" src="assets/abroad-rates/boton_carro.png" alt="imagen epayco">
                </div>
                <hr class="line">
                <h3 class="title-h3">PAGA 3 LLEVA 4</h3>
                <h2 class="challenges-h2">$297.000 COP </h2>
                <p class="days">4 MESES</p>
                <p class="days">Aplica solo para usuarios activos</p>
                <div>
                    <img class="img-epayco" src="assets/abroad-rates/boton_carro3.png" alt="imagen epayco">
                </div>
            </div>
        </div>
    </div>
</section>