section {
    padding: 0px;
    background-image: url('/assets/goals/fondo_acerca_de.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    background-size: cover;
    min-height: 497px;
}