<section class="gym-p-33">
    <div class="gym-wrap">
        <div flex fxLayout="column" fxLayout.gt-xs="row">
            <div fxLayout="column" fxFlex="100%" fxFlex.gt-xs="50%">
                <div style="margin-bottom: 20px;">
                    <div style="padding:0 0 0 30px;border-left:2px solid rgba(255,255,255,.5);">
                        <h2 class="gym-h2">ALCANZA <br>TUS METAS SOÑADAS</h2>
                        <hr class="no_line" style="margin:0 auto 10px">
                        <h6 class="gym-h6">ESTARÁS EN <br> MANOS DE UN PROFESIONAL</h6>
                        <hr class="no_line" style="margin:0 auto 30px">
                    </div>
                </div>
                <div class="gym-rectangle">
                    <div class="circle">
                    </div>
                    <p>Los resultados dependen de ti ¿Lo hacemos juntos?</p>
                </div>
            </div>
            <div fxLayout="row" fxFlex class="gym-container-img">
                <img src="assets/goals/Personal-trainer-aboutus.png" alt="gym modelo">
            </div>
        </div>
    </div>
</section>