<div cdkScrollable>
    <app-month-promo id="app-month-promo"></app-month-promo>
    <app-goals id="app-goals"></app-goals>
    <app-benefits id="app-benefits"></app-benefits>
    <app-challenges id="app-challenges"></app-challenges>
    <app-abroad-rates id="app-abroad-rates"></app-abroad-rates>
    <app-colombia-rates id="app-colombia-rates"></app-colombia-rates>
    <app-challenges-met id="app-challenges-met"></app-challenges-met>
    <app-gallery id="app-gallery"></app-gallery>
    <app-contact id="app-contact"></app-contact>
</div>