<section>
    <div class="gym-container">
        <div flex fxLayout="column" fxLayout.gt-xs="row">
            <div fxLayout="row" fxFlex class="gym-container-img">
                <img src="assets/challenges-met/personal-change-.png" alt="gym modelo" id="img-cambio">
            </div>
            <div fxLayout="column" fxFlex class="contenedor">
                <h4 class="gym-h4">CONOCER PERSONAS QUE <br> HAN CAMBIADO SUS VIDAS<br>ME ALEGRA !</h4>
                <h6 class="gym-h6">Es hora de darle un cambio a tu VIDA!</h6>
                <div flex fxLayout="row" class="themecolor">
                    <mat-icon>arrow_downward</mat-icon>
                    <p class="themecolor">
                        Baja de peso ahora mismo con nuestro RETO!
                    </p>
                </div>
                <p class="text-chllenges">IMAGINA ESA SENSACIÓN DE HABER ALCANZADO TU META, AHORA VE POR ELLA
                    ¡MUEVETE!</p>
            </div>
        </div>
    </div>
</section>