/* You can add global styles to this file, and also import other style files */
@import "./styles/fonts.scss";
@import "./styles/animated.scss";

html,
body {
    height: 100%;
}

body {
    margin     : 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

section {
    height               : 100vh;
    background-attachment: fixed;
    background-position  : center;
    background-repeat    : no-repeat;
    background-size      : cover;
    background-image     : ("assets/background/promo-august.jpg");
}

.animate,
.hover-bounce,
.hover-flash,
.hover-heartbeat,
.hover-panic,
.hover-pulsate,
.hover-pulse,
.hover-shakeH,
.hover-shakeV,
.hover-slingshotCCW,
.hover-slingshotCW,
.hover-spinCCW,
.hover-spinCW,
.hover-strobe,
.hover-tada,
.hover-wave,
.hover-wobble,
.trigger {
    opacity                    : 0;
    -webkit-animation-duration : 1s;
    -moz-animation-duration    : 1s;
    -ms-animation-duration     : 1s;
    -o-animation-duration      : 1s;
    animation-duration         : 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode   : both;
    -ms-animation-fill-mode    : both;
    -o-animation-fill-mode     : both;
    animation-fill-mode        : both;
}

.animate.zoomInUp {
    -webkit-animation-name: zoomInUp;
    -moz-animation-name   : zoomInUp;
    -ms-animation-name    : zoomInUp;
    -o-animation-name     : zoomInUp;
    animation-name        : zoomInUp;
}

:root {
    --animate-duration: 0.4s;
    --animate-delay   : 0.4s;
    --animate-repeat  : 1;
}

.menu {
    width           : 100%;
    top             : 55px;
    position        : fixed;
    z-index         : 1;
    display         : none;
    background-color: white;
    padding         : 0 25px;
    font-family     : Exo2-SemiBold;
    color           : #6a7585
}

.fadeInDown {
    @extend %animated;
    display               : inline-block;
    -webkit-animation-name: fadeInDown;
    animation-name        : fadeInDown;
}

.fadeOutUp {
    @extend %animated;
    display               : inline-block;
    -webkit-animation-name: fadeOutUp;
    animation-name        : fadeOutUp;
}

.no_line {
    border: 0px;
}