<section id="promo">
    <div class="section_wrapper mcb-section-inner" style="padding-top: 71.5px; padding-bottom: 51.5px;">
        <div class="wrap mcb-wrap mcb-wrap-9332e0c52 one  valign-top clearfix">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column mcb-item-a89e6df8b one column_column">
                    <div class="column_attr clearfix align_left animate zoomInUp" data-anim-type="zoomInUp">
                        <h1 style="color:#FFFFFF;">ENAMÓRATE<br>DE TU<br>CUERPO</h1>
                        <h2 style="color:#FFFFFF;">¡Enamórate de tu vida!</h2>

                    </div>
                </div>
                <div class="column mcb-column mcb-item-d91167735 one column_button"><a
                        class="button scroll button_left button_size_3 button_stroke_custom button_js kill_the_icon"
                        href="https://sanalexfit.com/ingresar/"
                        style="border-color:#ffffff!important;color:#ffffff;"><span class="button_icon">
                            <i class="icon-user" style="color:#ffffff!important;"></i></span><span
                            class="button_label">Ingreso</span></a>
                </div>
                <div class="column mcb-column mcb-item-qte88qpnu one column_button"><a
                        class="button scroll button_left button_size_3 button_stroke_custom button_js kill_the_icon"
                        href="https://sanalexfit.com/cuenta-de-membresia/nuestros-retos/"
                        style="border-color:#ffffff!important;color:#ffffff;"><span class="button_icon">
                            <i class="icon-users" style="color:#ffffff!important;"></i></span><span
                            class="button_label">Regístrate </span></a>
                </div>
            </div>
        </div>
    </div>
</section>