section {
    padding              : 0px;
    background-image     : url('/assets/promo/BANNER.jpg');
    background-repeat    : no-repeat;
    background-position  : center top;
    background-attachment: fixed;
    background-size      : cover;
    min-height           : 497px;
}