<section id="promo">
    <div class="section_wrapper">
        <div>
            <div>
                <h1 class="gym-h1">ENAMÓRATE<br>DE TU<br>CUERPO</h1>
                <h2 class="gym-h2">¡Enamórate de tu vida!</h2>
            </div>
            <div class="gym-call-to-action">
                <span class="button_icon">
                    <mat-icon>person</mat-icon>
                </span>
                <span class="button_label">Ingreso</span>
            </div>
            <div class="gym-call-to-action mt-1">
                <span class="button_icon">
                    <mat-icon>people</mat-icon>
                </span>
                <span class="button_label">Regístrate </span>
            </div>
        </div>
    </div>
</section>